In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/international_org.csv')
df

  Organization Name  Headquater
0               FAO        Rome
1               ICJ   The Hague
2               IMF  Washington
3            UNESCO       Paris
4               UNO    New York
5        World Bank  Washington

In [3]:
# Add column to dataframe
df['city'] = 'Banglore'

In [4]:
df

  Organization Name  Headquater      city
0               FAO        Rome  Banglore
1               ICJ   The Hague  Banglore
2               IMF  Washington  Banglore
3            UNESCO       Paris  Banglore
4               UNO    New York  Banglore
5        World Bank  Washington  Banglore

In [5]:
df['city'] = ['Banglore','Banglore1','Banglore2','Banglore3','Banglore4','Banglore5']

In [6]:
df['city']

0     Banglore
1    Banglore1
2    Banglore2
3    Banglore3
4    Banglore4
5    Banglore5
Name: city, dtype: object

In [7]:
imdb = pd.read_csv('dataset/imdb_rating.csv')
imdb

,star_rating,title,genre,duration
0,9.3,The Shawshank Redemption,Crime,142
1,9.2,The Godfather,Crime,175
2,9.1,The Godfather: Part II,Crime,200
3,9.0,The Dark Knight,Action,152
4,8.9,Pulp Fiction,Crime,154
5,8.9,12 Angry Men,Drama,96
6,8.9,"The Good, the Bad and the Ugly",Western,161
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201
8,8.9,Schindler's List,Biography,195
9,8.9,Fight Club,Drama,139

In [8]:
imdb['actor']='vikey'
imdb

,star_rating,title,genre,duration,actor
0,9.3,The Shawshank Redemption,Crime,142,vikey
1,9.2,The Godfather,Crime,175,vikey
2,9.1,The Godfather: Part II,Crime,200,vikey
3,9.0,The Dark Knight,Action,152,vikey
4,8.9,Pulp Fiction,Crime,154,vikey
5,8.9,12 Angry Men,Drama,96,vikey
6,8.9,"The Good, the Bad and the Ugly",Western,161,vikey
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201,vikey
8,8.9,Schindler's List,Biography,195,vikey
9,8.9,Fight Club,Drama,139,vikey

In [9]:
imdb['duration'][3]=50
imdb['asdas']=20202

<ipython-input-9-5b4fd3816a92>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb['duration'][3]=50

In [10]:
imdb

,star_rating,title,genre,duration,actor,asdas
0,9.3,The Shawshank Redemption,Crime,142,vikey,20202
1,9.2,The Godfather,Crime,175,vikey,20202
2,9.1,The Godfather: Part II,Crime,200,vikey,20202
3,9.0,The Dark Knight,Action,50,vikey,20202
4,8.9,Pulp Fiction,Crime,154,vikey,20202
5,8.9,12 Angry Men,Drama,96,vikey,20202
6,8.9,"The Good, the Bad and the Ugly",Western,161,vikey,20202
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201,vikey,20202
8,8.9,Schindler's List,Biography,195,vikey,20202
9,8.9,Fight Club,Drama,139,vikey,20202

In [11]:
imdb.drop('asdas',axis=1,inplace=True)

# Access particular row

In [12]:
imdb.loc[1:2]

   star_rating                   title  genre  duration  actor
1          9.2           The Godfather  Crime       175  vikey
2          9.1  The Godfather: Part II  Crime       200  vikey

In [13]:
imdb.loc[10]=[2,2,4,6,6]

In [14]:
imdb

,star_rating,title,genre,duration,actor
0,9.3,The Shawshank Redemption,Crime,142,vikey
1,9.2,The Godfather,Crime,175,vikey
2,9.1,The Godfather: Part II,Crime,200,vikey
3,9.0,The Dark Knight,Action,50,vikey
4,8.9,Pulp Fiction,Crime,154,vikey
5,8.9,12 Angry Men,Drama,96,vikey
6,8.9,"The Good, the Bad and the Ugly",Western,161,vikey
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201,vikey
8,8.9,Schindler's List,Biography,195,vikey
9,8.9,Fight Club,Drama,139,vikey
10,2.0,2,4,6,6

In [15]:
imdb.index.max()

10

In [16]:
# update single value on a column
imdb.at[5, 'actor'] = 'xyz'

In [17]:
imdb

,star_rating,title,genre,duration,actor
0,9.3,The Shawshank Redemption,Crime,142,vikey
1,9.2,The Godfather,Crime,175,vikey
2,9.1,The Godfather: Part II,Crime,200,vikey
3,9.0,The Dark Knight,Action,50,vikey
4,8.9,Pulp Fiction,Crime,154,vikey
5,8.9,12 Angry Men,Drama,96,xyz
6,8.9,"The Good, the Bad and the Ugly",Western,161,vikey
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201,vikey
8,8.9,Schindler's List,Biography,195,vikey
9,8.9,Fight Club,Drama,139,vikey
10,2.0,2,4,6,6

In [18]:
imdb = pd.read_csv('dataset/imdb_rating.csv')
imdb

,star_rating,title,genre,duration
0,9.3,The Shawshank Redemption,Crime,142
1,9.2,The Godfather,Crime,175
2,9.1,The Godfather: Part II,Crime,200
3,9.0,The Dark Knight,Action,152
4,8.9,Pulp Fiction,Crime,154
5,8.9,12 Angry Men,Drama,96
6,8.9,"The Good, the Bad and the Ugly",Western,161
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201
8,8.9,Schindler's List,Biography,195
9,8.9,Fight Club,Drama,139

In [19]:
list(imdb.star_rating).index(imdb.star_rating.max())

0

In [20]:
# Get max rating and change title to 'XXX'
imdb.at[list(imdb.star_rating).index(imdb.star_rating.max()), 'title'] = 'xxx'

In [21]:
imdb

,star_rating,title,genre,duration
0,9.3,xxx,Crime,142
1,9.2,The Godfather,Crime,175
2,9.1,The Godfather: Part II,Crime,200
3,9.0,The Dark Knight,Action,152
4,8.9,Pulp Fiction,Crime,154
5,8.9,12 Angry Men,Drama,96
6,8.9,"The Good, the Bad and the Ugly",Western,161
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201
8,8.9,Schindler's List,Biography,195
9,8.9,Fight Club,Drama,139

In [42]:
a=imdb.groupby(by=['genre']).count()

In [46]:
a

           star_rating  title  duration
genre
Action               1      1         1
Adventure            1      1         1
Biography            1      1         1
Crime                4      4         4
Drama                2      2         2
Western              1      1         1